# You need to export it to the terminal where you will run terraform <commands>
# using `source .env`

# --- Core service ---
export TF_VAR_brevo_api_key=""

export TF_VAR_session_access_token_secret_key=""
export TF_VAR_session_refresh_token_secret_key=""

export TF_VAR_database_ssl_cert_path=""
export TF_VAR_database_url=""

export TF_VAR_stripe_api_key=""
export TF_VAR_STRIPE_GEMS_WEBHOOK_SECRET=""
export TF_VAR_STRIPE_SUBSCRIPTIONS_WEBHOOK_SECRET=""

# --- FTR servers ---
export TF_VAR_server_fixed_token=""
export TF_VAR_mongo_connection_string=""

# --- Infra & Metrics ---
export TF_VAR_ssh_key_name=""
export TF_VAR_dd_api_key=""
export TF_VAR_consul_encrypt_key=""
export TF_VAR_brevo_code_value=""
