export TF_VAR_brevo_api_key=""
export TF_VAR_server_fixed_token=""
export TF_VAR_session_token_secret_key=""
export TF_VAR_database_ssl_cert_path=""
export TF_VAR_database_url=""
export TF_VAR_dd_api_key=""
export TF_VAR_ssh_key_name=""
export TF_VAR_nomad_gossip_key=""
export TF_VAR_nomad_tls_ca_pem=""
export TF_VAR_nomad_tls_cert_pem=""
export TF_VAR_nomad_tls_key_pem=""
export TF_VAR_nomad_agent_token=""
export TF_VAR_nomad_core_service_token=""
